<web-app>
	<display-name>BeginnersBookDemo</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>ScheduledServletDemo</servlet-name>
		<servlet-class>schServlet1.DominoTimer</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ScheduledServletDemo</servlet-name>
		<url-pattern>/runScheduled</url-pattern>
	</servlet-mapping>
</web-app>